{{!-- Intro to the page --}}
<div class="container center-align">
    <h3>Comment-That</h3>
    <p>Simple site that takes articles from the web,</p>
    <p>displays them and allows anonymous comments to be placed here.</p>
    <img class="gif-image" src="https://media1.tenor.com/images/c21ee0e90d50066db82361736f04ad6f/tenor.gif?itemid=4614076" alt="Cat slapping a keyboard">
</div>