/* Page Rules */
html {
    background-color: #EFD6AC;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    color: #BFD7EA;
}

.rosewood {
    background-color: #6B0504;
}
/* Navigation */
nav,
footer {
    font-size: 24px;
    color: #BFD7EA;
}

/* Footer */
footer {
    text-align: center;
}