/* Page Rules */
html  {
    background-color: #0A8754;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    color: #BFD7EA;
}

/* Navigation */
nav, footer {
    font-size: 24px;
    color: #BFD7EA;
}

/* Footer */
footer {
    text-align: center;
}